html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(space.jpeg);
    color: honeydew;
    text-align: center;

}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    width: 80%;
    padding: 40px;
    border: 5px solid gray;
    margin: auto;
    text-align: center;
}
ul{
    display: table;
    margin:auto;
}

h3{
    text-align: left;
    margin-left: 160px ;
    font-size: 30px;
    margin-top: 0.3%;
    margin-bottom: 5%;

}
.button{
    color: honeydew;
    font-size: 20px;
}


div.catinvader{
    width: 100%;
}

.catinvader:hover{
   
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

  @keyframes move{

    0%{transform:translateX(0%); }

    12.5%{transform:translateX(20%);}

    25%{transform:translateX(40%);}

    37.5%{transform:translateX(20%);}

    50%{transform:translateX(0%);}

    62.5%{transform:translateX(-20%);}

    75%{transform:translateX(-40%);}

    87.5%{transform:translateX(-20%);}

    100%{transform:translateX(0%):}
    
  }
  
