html{
    font-family:  'Graduate', cursive;;
    background-image: url(space.jpeg);
    color: honeydew;
    text-align: center;
    height:100%;
    width:100%;
    overflow:hidden;

}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
    width: 80%;
    padding: 2rem;
    border: 5px solid gray;
    margin: auto;
    text-align: center;
}
ul{
    display: table;
    margin:auto;
}

h4{
    text-align: left;
    margin-left: 9vw ;
    font-size: 1.5rem;
    margin-top: 0.3%;
    margin-bottom: 5%;

}
.link{
    color: honeydew;
    font-size: 1rem;
}


div.catinvader{
    width: 100%;
}

.catinvader:hover{
   
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

  @keyframes move{

    0%{transform:translateX(0%); }

    12.5%{transform:translateX(20%);}

    25%{transform:translateX(40%);}

    37.5%{transform:translateX(20%);}

    50%{transform:translateX(0%);}

    62.5%{transform:translateX(-20%);}

    75%{transform:translateX(-40%);}

    87.5%{transform:translateX(-20%);}

    100%{transform:translateX(0%);}
    
  }
  
